@font-face {
font-family: 'Arial Bold';
src: url('../fonts/Arial/Arial-BoldMT.eot');
src: url('../fonts/Arial/Arial-BoldMT.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Arial/Arial-BoldMT.woff') format('woff'),
  url('../fonts/Arial/Arial-BoldMT.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Arial Bold Italic';
src: url('../fonts/Arial/Arial-BoldItalicMT.eot');
src: url('../fonts/Arial/Arial-BoldItalicMT.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Arial/Arial-BoldItalicMT.woff') format('woff'),
  url('../fonts/Arial/Arial-BoldItalicMT.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@mixin bold {
  font-family: 'Arial Bold' , serif;
  font-weight: 400
}

@mixin bold-it {
  font-family: 'Arial Bold Italic' , serif;
  font-weight: 400
}