@charset "UTF-8";
@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
  /* font-family: 'Museo Sans Light' ,sans-serif */
}

img {
  max-width: 100%;
}

.container {
  width: 1171px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 760px;
  }
  .hero {
    padding: 50px 0;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 570px;
    width: 95%;
  }
}

/* усложненное задание :)*/
@media (max-width: 567px) {
  .container {
    width: 279px;
  }
  .hero {
    padding: 0;
  }
  .hero-text__title {
    margin: 20px 0;
  }
  .hero-list__image {
    width: 40px;
    height: 40px;
    border: 2px solid #ffd200;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 50%;
  }
}

.button {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 17px 30px 17px 30px;
  font-size: 13px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.button_2 {
  padding: 13px 30px 17px 30px;
  font-size: 16px;
}

.button:hover {
  background-color: #ffdb33;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.section {
  /* padding: 90px 0 - необращать внимания :), так было в уроке но это не по макету */
}

.section-title {
  font-size: 24px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.section-subtitle {
  display: block;
  font-size: 16px;
}

.input {
  border: 1px solid #dddddd;
  border-radius: 10px;
  padding: 23px 27px;
  font-size: 15px;
}

.input:focus {
  outline: none;
  border: 1px solid #ffd200;
}

/* импорт стилей шапки */
.navbar {
  padding: 6px 0 4px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
}

.navbar__logo {
  margin-left: 2px;
}

.navbar__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 4px;
  color: #333333;
  font-size: 13px;
}

.navbar__button {
  margin: 0 0 6px 28px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.navbar__phone {
  display: inline-block;
  color: #333333;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  margin-top: 6px;
}

/* медиа */
@media (max-width: 768px) {
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 12px;
    padding: 15px 25px 14px 25px;
    font-family: sans-serif;
    font-size: 11px;
    font-weight: 400;
  }
  .navbar__logo {
    width: 90px;
  }
}

/* усложненное задание :)*/
@media (max-width: 567px) {
  .navbar-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 9px;
    margin-bottom: 10px;
  }
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    border-radius: 5px;
    margin: 0;
    margin: 0 2px 3px 30px;
    background-color: #ffd200;
    color: #333333;
    font-family: "Museo Sans Cyrl -700";
    font-size: 11px;
    font-weight: 800;
    padding: 13px 26px 15px 26px;
  }
  .navbar__logo {
    width: 92px;
    margin: 1px 0 0 -2px;
  }
}

/* стили для главного экрана */
.hero {
  background-color: #f5f5f5;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 51px 0 50px 0;
}

.hero-text {
  -ms-flex-preferred-size: 51%;
      flex-basis: 51%;
  padding-right: 100px;
}

.hero-text__title {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 41px;
  line-height: 55px;
  margin-bottom: 39px;
}

.hero-text__subtitle {
  display: inline-block;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin: 0 0 70px 2px;
}

.hero-list {
  margin: 0;
  padding: 0;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.hero-list__item:last-child {
  margin-bottom: 0;
}

.hero-list__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  margin-left: 2px;
  margin-right: 30px;
  width: 39px;
  height: 39px;
  border: 2px solid #ffd200;
}

.hero-list__text {
  max-width: 240px;
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}

.hero-image__image {
  -webkit-box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
          box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
}

/* медиа */
@media (max-width: 1200px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-list {
    margin-bottom: 44px;
  }
  .hero-text {
    padding-right: 10px;
  }
}

@media (max-width: 768px) {
  .hero {
    padding-bottom: 36px;
  }
  .hero-block {
    padding: 0;
  }
  .hero-text {
    min-width: 290px;
  }
  .hero-text__title {
    font-size: 24px;
    line-height: 1.23;
    margin: 41px 0 9px 3px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin: 0 0 30px 6px;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
  .hero-list__text {
    font-size: 12px;
    line-height: 15px;
  }
  .hero-list__image {
    margin-right: 14px;
    margin-left: 3px;
    width: 39px;
    height: 39px;
    border: 2px solid #ffd200;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 50%;
  }
}

/* стили для блока offer  */
.offer {
  background: url("../img/offer/offer-bg.jpg") no-repeat;
  background-position: center right;
  background-size: contain;
  position: relative;
}

.offer:before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
}

.offer-block {
  width: 50%;
  padding: 76px 90px 92px 0;
  position: relative;
}

.offer__title {
  max-width: 360px;
  line-height: 35px;
  margin: 0 0 18px 2px;
}

.offer__subtitle {
  max-width: 250px;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 30px 1px;
}

.offer__input {
  margin-bottom: 30px;
  width: 240px;
}

.offer__input:first-child {
  margin-right: 10px;
}

.offer__button {
  width: 100%;
  min-height: 70px;
}

.offer-addinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 24px;
}

.offer-addinfo__block {
  width: 200px;
}

.offer-addinfo__text {
  color: #333333;
  width: 230px;
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
}

.offer-addinfo__phone {
  display: inline-block;
  text-decoration: none;
  min-width: 133px;
  color: #333333;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
}

/* медиа */
@media (min-width: 2000px) {
  .offer {
    background-size: 50%;
  }
}

@media (max-width: 1200px) {
  .offer {
    background-size: cover;
  }
  .offer__input {
    width: 100%;
    margin-bottom: 10px;
  }
  .offer__button {
    font-style: 13px;
  }
}

@media (max-width: 768px) {
  .offer {
    background: #fff;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
}

@media (max-width: 567px) {
  .offer {
    background: #fff;
  }
  .offer-block {
    padding: 50px 0 56px 0;
  }
  .offer__title {
    margin-left: -1px;
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 22px;
    width: 260px;
  }
  .offer__subtitle {
    margin-left: -1px;
    margin-bottom: 26px;
    font-size: 14px;
    line-height: 17px;
  }
  .offer__input {
    margin-bottom: 8px;
    padding: 23px 20px;
  }
  .offer__button {
    margin-top: 2px;
  }
  .offer-addinfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 15px 0 0 4px;
  }
  .offer-addinfo__block {
    width: 200px;
  }
  .offer-addinfo__text {
    display: block;
    color: #333333;
    width: 230px;
    font-family: 'Museo Sans Light', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
    margin-top: 6px;
    margin-bottom: 0;
  }
  .offer-addinfo__phone {
    display: block;
    margin: 2px 0 0 -2px;
    text-decoration: none;
    min-width: 133px;
    color: #333333;
    font-family: 'Museo Sans Bold', sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
  }
  .button_2 {
    font-size: 14px;
    line-height: 18px;
    font-family: 'Museo Sans Bold', sans-serif;
    font-weight: 700;
    padding: 0 40px;
  }
}

/* модальное окно  */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  max-width: 570px;
  width: 90%;
  min-width: 200px;
  background-color: #fff;
}

.modal-dialog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 73px 0 76px 0;
  width: 370px;
}

.modal-dialog__title {
  margin: 0 auto;
  margin-bottom: 35px;
  padding-left: 4px;
  color: #333333;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  max-width: 300px;
}

.modal-dialog__subtitle {
  margin-left: 22px;
  margin-bottom: 42px;
  color: #333333;
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 35px;
}

.modal-dialog__input {
  margin-left: -2px;
  margin-bottom: 15px;
}

.modal-dialog__button {
  margin: 15px 0 29px 1px;
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 26px 10px;
  color: #333333;
  font-size: 16px;
  line-height: 18px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.modal-dialog__button_close {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
}

.modal-dialog__text {
  margin: 0 0 11px 42px;
  max-width: 280px;
  text-align: center;
  color: #333333;
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

.modal-dialog__phone {
  margin: 0 auto;
  padding-right: 5px;
  display: inline-block;
  text-decoration: none;
  color: #333333;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
}

@media (max-width: 567px) {
  .modal-container {
    max-width: 570px;
  }
  .modal-dialog {
    margin: 43px 0 46px 0;
  }
  .modal-dialog__title {
    margin-bottom: 18px;
    font-size: 18px;
    line-height: 23px;
    max-width: 300px;
  }
  .modal-dialog__subtitle {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 200px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
  }
  .modal-dialog__input {
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 18px 27px;
    width: 250px;
  }
  .modal-dialog__button {
    margin: 0 auto;
    margin-bottom: 10px;
    width: 250px;
    padding: 18px 10px;
    font-size: 14px;
  }
  .modal-dialog__text {
    margin: 0 auto;
    margin-bottom: 10px;
    max-width: 230px;
    font-size: 13px;
    line-height: 18px;
  }
  .modal-dialog__phone {
    margin: 0 auto;
    font-size: 20px;
  }
}
/*# sourceMappingURL=style.css.map */